In [1]:
import pandas as pd
import random

In [2]:
# Number of heuristics steps
# Number of agents generated

k = 3
n_agents = 20

# Python3 code to demonstrate 
# to generate random number list
# using random.sample()
                      

        
from itertools import permutations
#test_list = [1,2,3,4,5,6,7,8,9,10,11,12]
l = 12
l = l + 1
test_list = list(range(1, l))
c_pd_r_list = pd.DataFrame(list(permutations(test_list,k)))


c_pd_r_list = c_pd_r_list.reset_index(drop=True)
c_pd_r_list

# make sure no zero movement
for rw in range(len(c_pd_r_list)):
    for col in range(k):
        if(c_pd_r_list.iloc[rw][col]==0):
            print(c_pd_r_list.iloc[rw][col])
            c_pd_r_list.iloc[rw][col] = c_pd_r_list.iloc[rw][col] + 1
            
c_pd_r_list

       0   1   2
0      1   2   3
1      1   2   4
2      1   2   5
3      1   2   6
4      1   2   7
...   ..  ..  ..
1315  12  11   6
1316  12  11   7
1317  12  11   8
1318  12  11   9
1319  12  11  10

[1320 rows x 3 columns]

In [3]:
lst = random.sample(range(0, k), k)
lst

[0, 2, 1]

### create epistemological space

In [4]:
# generate the epi space

epi_space = 2000

#epi_list = random.sample(range(0, 100), epi_space)

import random

random.seed(321)
epi_list = [random.randint(1,10000) for x in range(epi_space)]

epi_list = pd.DataFrame(epi_list)

epi_list

len(epi_list)

2000

### measure performance agent by agent

In [5]:


# number of experiments per agent
#expr_per_row = 1000
expr_per_row = len(epi_list)


# add column of final score to store final score
c_pd_r_list['score'] = 0

# choose randomly search steps
for rw in range(len(c_pd_r_list)):
    
    sum_score = 0
    #print(rw/len(c_pd_r_list))
    
    for expr in range(expr_per_row):
    
        # random starting point
        #start_pt = random.sample(range(0, len(epi_list)), 1)[0]
        start_pt = expr

        # start value
        #print('start val')
        #print(epi_list.iloc[start_pt])

        # loop till all there steps of heurisitics break
        while True:


            n_ch_count = 0
            for col in range(k):
                #print(lst[col])

                delta = c_pd_r_list.iloc[rw][col]

                #print('delta')
                #print(delta)

                start_pt_tmp = start_pt + delta

                # execption handling
                if(start_pt_tmp>=len(epi_list)):
                    start_pt_tmp = start_pt_tmp - len(epi_list)
                if(start_pt_tmp<0):
                    start_pt_tmp = start_pt_tmp + len(epi_list)


                #print('next val')
                #print(epi_list.iloc[start_pt_tmp])

                if(epi_list.iloc[start_pt_tmp][0]>epi_list.iloc[start_pt][0]):
                    #print('bigger')
                    start_pt = start_pt_tmp
                    #print(epi_list.iloc[start_pt])
                if(epi_list.iloc[start_pt_tmp][0]<=epi_list.iloc[start_pt][0]):
                    #print('smaller')
                    n_ch_count = n_ch_count + 1
                    #print(epi_list.iloc[start_pt])

            if(n_ch_count==3):
                #print('should break')
                break




    sum_score = sum_score + epi_list.iloc[start_pt]
        
    #print('final score')
    #print(rw)
    #print(sum_score)
    c_pd_r_list['score'].iloc[rw] =  sum_score

In [6]:
c_pd_r_list

       0   1   2  score
0      1   2   3   6136
1      1   2   4   9203
2      1   2   5   7243
3      1   2   6   5589
4      1   2   7   4514
...   ..  ..  ..    ...
1315  12  11   6   7098
1316  12  11   7   6923
1317  12  11   8   6923
1318  12  11   9   9533
1319  12  11  10   8022

[1320 rows x 4 columns]

In [7]:
#measure diversity
def diverse(df_in):
    dfc = df_in
    delt_ = 0
    pairs = 0
    for rw1 in range(len(dfc)):
        for rw2 in range(len(dfc)):
            if(rw1 != rw2):
                S = 0
                for col in range(k):
                    if(dfc.iloc[rw1][col]==dfc.iloc[rw2][col]):
                        S = S + 1
                delt = (k - S)/k
                #print(delt)
                pairs = pairs + 1

                delt_ = delt_ + delt

    delt_
    return delt_/pairs

### two groups , (1) top by ability and (2) random

In [8]:
n_agents = 10
# start
# 10 random starting points
cnt = 0
for r_start in range(10):

    # add column of final score to store final score
    #t_3['score n'] = 0

    # random starting point
    start_pt_ = random.sample(range(0, len(epi_list)), 1)[0]
    start_pt  = start_pt_
    #start_pt = expr

    #100 experiments
    #100 experiments with same top n_agents
    #100 experiments with random top n_agents
    for r_grp in range(100):

        # group 1, top n_agents performer

        t_3 = c_pd_r_list.sort_values(['score'], ascending=False).head(n_agents)
        t_3
        
        divr_t = diverse(t_3)
        divr_t




        # choose randomly search steps
        for rw in range(len(t_3)):


                #lst = random.sample(range(0, l), hu_steps)

                # start value
                #print('start val')
                #print(epi_list.iloc[start_pt])


                for col in range(k):
                    #print(lst[col])

                    delta = t_3.iloc[rw][col]

                    #print('delta')
                    #print(delta)

                    start_pt_tmp = start_pt + delta

                    # execption handling
                    if(start_pt_tmp>=len(epi_list)):
                        start_pt_tmp = start_pt_tmp - len(epi_list)
                    if(start_pt_tmp<0):
                        start_pt_tmp = start_pt_tmp + len(epi_list)


                    #print('next val')
                    #print(epi_list.iloc[start_pt_tmp])

                    if(epi_list.iloc[start_pt_tmp][0]>=epi_list.iloc[start_pt][0]):
                        #print('bigger')
                        start_pt = start_pt_tmp
                        #print(epi_list.iloc[start_pt])

                f_t_score = epi_list.iloc[start_pt]


        t_3



        # group two random 3 agents

        r_3 = c_pd_r_list.sample(n=n_agents)
        r_3
        
        divr_r = diverse(r_3)
        divr_r

        #start_pt = random.sample(range(0, len(epi_list)), 1)[0]
        start_pt  = start_pt_

        # choose randomly search steps
        for rw in range(len(r_3)):


                #lst = random.sample(range(0, hu_steps), hu_steps)

                # start value
                #print('start val')
                #print(epi_list.iloc[start_pt])


                for col in range(k):
                    #print(lst[col])

                    delta = r_3.iloc[rw][col]

                    #print('delta')
                    #print(delta)

                    start_pt_tmp = start_pt + delta

                    # execption handling
                    if(start_pt_tmp>=len(epi_list)):
                        start_pt_tmp = start_pt_tmp - len(epi_list)
                    if(start_pt_tmp<0):
                        start_pt_tmp = start_pt_tmp + len(epi_list)


                    #print('next val')
                    #print(epi_list.iloc[start_pt_tmp])

                    if(epi_list.iloc[start_pt_tmp][0]>=epi_list.iloc[start_pt][0]):
                        #print('bigger')
                        start_pt = start_pt_tmp
                        #print(epi_list.iloc[start_pt])

                f_r_score = epi_list.iloc[start_pt]

        r_3

        res={"rnd start batch":[r_start],
             "rnd divs group": [r_grp],
            "top"   :[f_t_score[0]],
             "random":[f_r_score[0]],
             "divr top":[divr_t],
             "divr random":[divr_r]
            }

        res = pd.DataFrame(res)
        res
        
        if(cnt==0):
            c_res = res
        if(cnt>0):
            c_res = pd.concat([c_res, res])
            
        cnt = cnt +1

<p> how to read result table
<p> rnd start batch : nth-batch randomized starting point
<p> rnd divs group : diverse nth-group of random 'diverse' group
<p> both divr's : diversity measure for both group

In [9]:
c_res

    rnd start batch  rnd divs group   top  random  divr top  divr random
0                 0               0  9328    9911  0.577778     0.918519
0                 0               1  9911    9328  0.577778     0.948148
0                 0               2  9328    9328  0.577778     0.948148
0                 0               3  9328    8639  0.577778     0.918519
0                 0               4  8639    9328  0.577778     0.940741
..              ...             ...   ...     ...       ...          ...
0                 9              95  9588    9588  0.577778     0.940741
0                 9              96  9588    9588  0.577778     0.933333
0                 9              97  9588    8779  0.577778     0.903704
0                 9              98  9588    8779  0.577778     0.948148
0                 9              99  9588    8779  0.577778     0.948148

[1000 rows x 6 columns]

In [10]:
print("cases where ability outperforms random")
print(len(c_res[c_res['top']>c_res['random']]))
print("cases where random outperforms ability")
print(len(c_res[c_res['top']<c_res['random']]))
print("cases where random performs equaly against ability")
print(len(c_res[c_res['top']==c_res['random']]))

cases where ability outperforms random
289
cases where random outperforms ability
219
cases where random performs equaly against ability
492